.about{
    position: relative;
    width: 100%;
    max-width: 1920px;
}
.about .menu_btn{
    position: fixed;
    right: 33px;
    top: 40px;
    z-index: 57;
}
.about .menu_btn span{
    display: block;
    width: 30px;
    height: 2px;
    background-color: #fff;
    transition: 0.5s;
    transform-origin: left;
}
.about .menu_btn span.active{
    background-color: #39A17F;
}
.about .menu_btn span:nth-child(2){
    margin: 9px 0;
}
.about .menu_btn button{
    transition: 0.5s;
    cursor: none;
}
.about .menu_btn:hover button{
    animation: jelly 0.5s;
}
.about .menu_btn button.active span:nth-child(1){
    transform: rotate(45deg);
}
.about .menu_btn button.active span:nth-child(2){
    opacity: 0;
}
.about .menu_btn button.active span:nth-child(3){
    transform: rotate(-45deg);
}
.about .about_sec_1{
    background-color: #39A17F;
    padding: 160px 15px;
    height: 100%;
    margin: 0 auto;
}
.about .about_sec_1 .left_conf{
    max-width: 788px;
    margin-bottom: 30px;
}
.about .about_sec_1 .right_conf{
}
.about .about_sec_1 .right_conf img{
    width: 100%;
    max-width: 637px;
}
.about .about_sec_1 .left_conf h2{
    font-size: 11vw;
    font-family: "Mont-Heavy";
    color: #fff;
    white-space: nowrap;
    margin-bottom: 55px;
}
.about .about_sec_1 .left_conf h3{
    font-size: 25px;
    font-family: 'Noto Sans KR', sans-serif;
    color: #fff;
    font-weight: bold;
    line-height: 45px;
    margin-bottom: 30px;
}
.about .about_sec_1 .left_conf p{
    font-size: 17px;
    line-height: 29px;
    font-family: 'Noto Sans KR', sans-serif;
    color: #fff;
    font-weight: 400;
    max-width: 590px;
}
.about .bt_box{
    width: 100%;
}
.about .bt_box img{
    width: 100%;
}
.about .about_sec_2{
    padding: 150px 15px;
    margin: 0 auto;
}
.about .about_sec_2 .right_conf img{
    max-width: 761px;
    width: 100%;
}
.about .about_sec_2 .left_conf h2{
    font-size: 50px;
    color: #39A17F;
    font-family: "Mont-Heavy";
    line-height: 50px;
    margin-bottom: 30px;
}
.about .about_sec_2 .left_conf h3{
    font-size: 35px;
    color: #39A17F;
    font-family: "Mont-Heavy";
    line-height: 46px;
    margin-bottom: 15px;
}
.about .about_sec_2 .left_conf .sec2_txt{
    font-size: 17px;
    color: #282726;
    font-family: 'Noto Sans KR', sans-serif;
    line-height: 29px;
    font-weight: 500;
    margin-bottom: 55px;
    max-width: 489px;
}
.about .about_sec_2 .left_conf .award{
    margin-bottom: 55px;
}
.about .about_sec_2 .left_conf .award div{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.about .about_sec_2 .left_conf .award div span{
    display: inline-block;
    width: 59px;
    height: 26px;
    text-align: center;
    line-height: 26px;
    background-color: #39A17F;
    color: #fff;
    border-radius: 15px;
    font-family: "Mont-Heavy";
    font-size: 15px;
    margin-right: 15px;
}
.about .about_sec_2 .left_conf .award div p{
    font-size: 17px;
    color: #282726;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
}
.about .about_sec_3{
    background-image: url(/_img/sec3_img.png);
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 500px;
}
.about .about_sec_4{
    
    margin: 120px auto;
    padding: 0 15px;
}
.about .about_sec_4 .left_conf{
    box-sizing: border-box;
    margin-bottom: 30px;
}
.about .sub_title{
    font-family: "Mont-Heavy";
    font-size: 50px;
    color: #39A17F;
    line-height: 68px;
}
.about .about_sec_4 .right_conf{
    font-size: 17px;
    color: #282726;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
    line-height: 29px;
}
.about .about_sec_5{
    margin: 0 auto;
    padding: 0 15px;
}
.about .about_sec_5 .left_conf{
    margin-bottom: 50px;
}
.about .about_sec_5 .left_conf img{
    width: 100%;
    max-width: 903px;
}
.about .about_sec_5 .right_conf{
    transition: 1s;
}
.about .about_sec_5 .right_conf .sub_title{
    margin-bottom: 50px;
}
.about .about_sec_5 .right_conf .skill{
    margin-bottom: 35px;
    display: flex;
}
.about .about_sec_5 .right_conf .skill:last-child{
    margin-bottom: 0;
}
.about .about_sec_5 .right_conf .skill .skill_right{
    width: 635px;
    margin-left: 21px;
}
.about .about_sec_5 .right_conf .skill .skill_right .skill_bar{
    position: relative;
    width: 100%;
    height: 39px;
    margin-top: 15px;
    width: 100%;
    background-color: #bcdace;
}
.about .about_sec_5 .right_conf .skill .skill_right .skill_bar .bar1{
    position: absolute;
    top: 0;
    left: 0;
    height: 39px;
    width: 0;
    background-color: #39A17F;
    transition: 2s;
}
.about .about_sec_5 .right_conf.active .ai .skill_right .skill_bar .bar1{
    width: 85%;
}
.about .about_sec_5 .right_conf.active .ps .skill_right .skill_bar .bar1{
    width: 65%;
}
.about .about_sec_5 .right_conf.active .clip .skill_right .skill_bar .bar1{
    width: 70%;
}
.about .about_sec_5 .right_conf.active .draw .skill_right .skill_bar .bar1{
    width: 90%;
}
.about .about_sec_5 .right_conf .skill .skill_right .skill_txt{
    font-size: 17px;
    color: #282726;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
    line-height: 29px;
    margin-top: 10px;
}
.about .about_sec_6{
    margin: 150px auto;
    padding: 0 15px;
}
.about .about_sec_6 .left_conf{
    margin-bottom: 50px;
    max-width: 903px;
}
.about .about_sec_6 .left_conf .sub_title{
    margin-bottom: 50px;
}
.about .about_sec_6 .left_conf p{
    font-size: 17px;
    color: #282726;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
    line-height: 29px;
}
.about .right_conf{
    max-width: 903px;
}
.about .right_conf img{
    width: 100%;
}