.container{
    position: relative;
    width: 100%;
    max-width: 1920px;
}
.container .left_line{
    display: none;
    position: absolute;
    left: 59px;
    top: 97px;
    width: 1px;
    background-color: #39A17F;
    transition: 0.2s;
}
.container .menu_btn{
    position: fixed;
    right: 17px;
    top: 36px;
    z-index: 57;
    
}
.container .menu_btn.active button{
    background-color: #fff;
    color: #39A17F; 
}
.container .menu_btn:hover{
    animation: jelly 0.5s;
}
.container .menu_btn button{
    width: 80px;
    height: 40px;
    background-color: #39A17F;
    color: #333;
    font-size: 15px;
    border-radius: 25px;
    font-family: "Mont-Heavy";
    cursor: none;
    transition: 0.3s;
    border:1px solid #333
}
.container .main_txt{
    position: absolute;
    width: 100%;
    height: 100vh;
}
.container .main_txt .main_txt_box{
    position: absolute;
    z-index: 1;
    top: 53%;
    left: 30px;
    transform: translateY(-50%);
    width: 100%;
    height: 53vmin;
}
.container .main_txt .main_txt_box span{
    display: flex;
    width: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}
.container .main_txt .main_txt_box .text-top,.container .main_txt .main_txt_box .text-bottom {
  height: 50%;
  overflow: hidden;
  position: absolute;
  width: 100%;
}
.container .main_txt .main_txt_box .top,.container .main_txt .main_txt_box .bottom{
  position: absolute;
}
.container .main_txt .main_txt_box .text-top {
  top: 0;
}
.container .main_txt .main_txt_box .text-top .top {
  bottom: -2px;
  transform: translate(0, 100%);
}
.container .main_txt .main_txt_box .text-top .top span:first-child{
    align-items: flex-end;
}
.container .main_txt .main_txt_box .text-top .top span:last-child{
    align-items: center;
}
.container .main_txt .main_txt_box .text-bottom {
  bottom: 0;
}
.container .main_txt .main_txt_box .text-bottom .bottom {
  top: -4px;
  transform: translate(0, -100%);
}
.container .main_txt .main_txt_box span img{
    filter: drop-shadow(2px 0px 1px #666);
}
.container .main_txt .left_1{
    display: flex;
    align-items: baseline;
    width: 25vw;
    margin-right: 15px;
}
.container .main_txt .left_1 img{
    width: 100%;
    max-width: 226px;
}
.container  .main_txt .left_2{
    display: flex;
    align-items: baseline;
    width: 7.6vw;
    margin-right: 20.2vw;
}
.container  .main_txt .left_2 img{
    width: 100%;
    max-width: 69px;
}
.container  .main_txt .left_3{
    display: flex;
    align-items: baseline;
    width: 25vw;
    margin-right: 15px;
}
.container  .main_txt .left_3 img{
    width: 100%;
    max-width: 226px;
}
.container  .main_txt .right_1{
    width: 40vw;
    margin-top: 15px;
}
.container  .main_txt .right_1 img{
    max-width: 393px;
    width: 100%;
}
.container  .main_txt .right_2{
    width: 56vw;
}
.container  .main_txt .right_2 img{
    width: 100%;
}
.container  .main_txt .right_3{
    width: 40vw;
    margin-top: 15px;
}
.container  .main_txt .right_3 img{
    max-width: 393px;
    width: 100%;
}
.container  .main_txt .bottom_p{
    margin-top: 5px;
    margin-left: 3px;
    font-family: 'Noto Sans KR', sans-serif;
    color: #333;
    font-size: 28px;
    font-weight: bold;
}
.container .main_image_cont{
    position: relative;
}
.container .main_image_cont .main_image{
    float: right;
    transform: translateX(200px);
    transition: 1s;
    opacity: 0;
    width: 55%;
}
.container .main_image_cont .main_image.active{
    transform: translateX(0);
    opacity: 1;
}
.container .main_section_1{
    position: relative;
    top: -250px;
}

.container .main_section_1 .slide_txt_box_1 .slide_txt_1{
    font-family: "Mont-Extra";
    font-size: 10vw;
    color: #39A17F;
    width: 100%;
    font-weight: bold;
    white-space: nowrap;
    transform: translateX(100%);
}
.container .main_section_1 .slide_line{
    width: 100%;
    margin: 30px 0 30px 0;
    height: 4px;
    background-color: #39A17F;
}
.container .main_section_1 .slide_txt_box_2 .slide_txt_2{
    font-family: "Mont-Extra";
    font-size: 10vw;
    color: #39A17F;
    width: 100%;
    font-weight: bold;
    white-space: nowrap;
    transform: translateX(-120%);
}
.container .main_section_2{
    margin: 40px 0;
}
.container .main_title{
    display: flex;
    margin-left: 15px;
    align-items: center;
    margin-bottom: 55px;
}
.container .main_title .title_line_box{
    display: flex;
    align-items: center;
}
.container .main_title .title_line_box .title_line{
    display: none;
    width: 0;
    height: 1px;
    background-color: #39A17F;
    transition: 0.5s;
}
.container .main_title .title_line_box .title_circle{
    display: none;
    width: 4px;
    height: 4px;
    border-radius: 100%;
    background-color: #39A17F;
    opacity: 0;
    transition: 0.2s;
    transition-delay: 0.6s;
}
.container .main_title .title_txt{
    opacity: 0;
    margin-left: 19px;
    font-size: 35px;
    line-height: 48px;
    font-family: "Mont-Heavy";
    color: #39A17F;
    transition: 1s;
    transform: translateX(40px);
}
.container .main_title .title_txt.active{
    opacity: 1;
    transform: translateX(0px);
}
.container .title_detail{
    opacity: 0;
    transition: 1s;
    transform: translateX(40px);
}
.container .title_detail.active{
    opacity: 1;
    transform: translateX(0px);
}
.container .main_section_2 .box_cont_left{
    margin-left: 15px;
    margin-right: 15px;
}
.container .main_section_2 .box_cont_right{
    margin-left: 15px;
    margin-right: 15px;
}
.container .main_section_2 .box{
    margin-right: 10px;
    opacity: 0;
    transform: translateY(20px);
    transition: 1s;
    max-width: 756px;
}
.container .main_section_2 .box_img{
    overflow: hidden;
    border-radius: 30px;
}
.container .main_section_2 .box_img img{
    transition: 0.5s;
    width: 100%;
}
.container .main_section_2 .box_img:hover img{
    transform: scale(1.1);
    
}
.container .main_section_2 .box.active{
    opacity: 1;
    transform: translateY(0);
}
.container .main_section_2 .box_cont_left .box{
    margin-bottom: 100px;
    width: 100%;
}
.container .main_section_2 .box_cont_right .box{
    margin-bottom: 100px;
    width: 100%;
}
.container .main_section_2 .box_cont .box .box_txt_box{
    margin-top: 29px;
}
.container .main_section_2 .box_cont .box .box_txt_box .box_title{
    font-family: "Mont-Heavy";
    color: #232323;
    font-size: 36px;
    margin-bottom: 10px;
}
.container .main_section_2 .box_cont .box .box_txt_box .box_detail{
    font-family: 'Noto Sans KR', sans-serif;
    color: #232323;
    font-size: 16px;
    font-weight: bold;
}
.container .main_section_3 .main_banner{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 450px;
    background-image: url(/_img/banner_img.png);
    background-size: cover;
    background-position: center center;
}
.container .main_section_3 .main_banner .banner_cont_box{
    text-align: center;
}
.container .main_section_3 .main_banner .banner_cont_box .banner_title{
    font-family: "Mont-Heavy";
    color: #fff;
    font-size: 65px;
    margin-bottom: 50px;
    margin-top: 50px;
}
.container .main_section_3 .main_banner .banner_cont_box .banner_txt{
    font-family: 'Noto Sans KR', sans-serif;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    line-height: 32px;
}
.container .main_section_4{
    margin: 120px 0;
}
.container .main_section_4 .section_cont{
    margin-left: 15px;
    margin-right: 15px;
    opacity: 0;
    transform: translateY(20px);
    transition: 0.5s;
}
.container .main_section_4 .section_cont.active{
    opacity: 1;
    transform: translateY(0);
}
.container .main_section_4 .section_cont .sec_4_img{
    margin-bottom: 50px;
}
.container .main_section_4 .section_cont .sec_4_img img{
    width: 100%;
}
.container .main_section_4 .section_cont .sec_4_txt p{
    color: #232323;
    font-size: 20px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: bold;
    line-height: 35px;
}
.container .main_section_5{
    margin-bottom: 130px;
}
.container .main_section_5 .main_title{
    margin-bottom: 0;
}
.container .main_section_5 .title_detail{
    margin-bottom: 83px;
    color: #232323;
    font-size: 20px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: bold;
    margin-left: 36px;
    margin-top: 4px;
    margin-bottom: 65px;
}
.container .main_section_5 .product_slide{
    position: relative;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 90px;
}
.container .main_section_5 .product_slide .swiper-slide{
    box-shadow: 2px 2px 30px rgba(0,0,0,0.2);
    border-radius: 25px;
    background-color: #f6f6f6;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container .main_section_5 .product_slide .swiper-slide img{
    width: 100%;
    max-width: 423px;
} 
.container .main_section_5 .product_slide .swiper-pagination{
    bottom: -50px !important;
    left: -35px !important;
}
.swiper-pagination-bullet { 
    width: 8px; 
    height: 8px; 
    background: transparent; 
    border: 1px solid #39A17F; 
    opacity: 1; 
}
.swiper-pagination-bullet-active { 
    width: 30px; 
    transition: width .5s; 
    border-radius: 7px; 
    background: #39A17F; 
    border: 1px solid transparent; 
}
.container .main_section_5 .product_detail{
    margin-left: 15px;
    margin-right: 15px;
    color: #232323;
    font-size: 20px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: bold;
    line-height: 32px;
}
.container .main_section_5 .product_btn{
    text-align: center;
    margin-top: 50px;
}
.container .main_section_5 .product_btn a{
    display: inline-block;
    width: 147px;
    height: 62px;
    background-color: #39A17F;
    border-radius: 20px;
    color: #fff;
    font-family: "Mont-Heavy";
    font-size: 25px;
    line-height: 62px;
}
.container .main_section_5 .product_btn a:hover{
    animation: jelly 0.5s;
}
.container .main_section_6 .main_title{
    margin-bottom: 0;
}
.container .main_section_6 .title_detail{
    margin-bottom: 83px;
    color: #232323;
    font-size: 20px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: bold;
    margin-left: 36px;
    margin-top: 24px;
    margin-bottom: 65px;
}
.container .main_section_6 .submit_form{
    margin-left: 15px;
    margin-right: 15px;
}
.container .main_section_6 .submit_form .form_conf form{
    width: 100%;
    background-color: #39A17F;
    border-radius: 25px;
    padding: 22px;
    box-sizing: border-box;
}
.container .main_section_6 .submit_form>div{
    opacity: 0;
    transform: translateY(20px);
    transition: 0.5s;
}
.container .main_section_6 .submit_form>div.active{
    opacity: 1;
    transform: translateY(0);
}
.container .main_section_6 .submit_form .form_conf form .form-col{
    background-color: #fff;
    border-radius: 20px;
    padding: 14px 16px;
}
.container .main_section_6 .submit_form .form_conf form .margin-b{
    margin-bottom: 38px;
}
.container .main_section_6 .submit_form .form_conf form .form-col label{
    display: block;
    margin-bottom: 5px;
    font-family: "Mont-Extra";
    color: #444;
}
.container .main_section_6 .submit_form .form_conf form .form-col input,
.container .main_section_6 .submit_form .form_conf form .form-col textarea{
    display: block;
    width: 100%;
    border: none;
    font-family: 'Noto Sans KR', sans-serif;
    cursor: none;
}
.container .main_section_6 .submit_form .form_conf form .form-col textarea{
    min-height: 350px;
    resize: none;
}
.container .main_section_6 .submit_form .form_conf form .form-col input:focus,.container .main_section_6 .submit_form .form_conf form .form-col textarea:focus{
    outline: none;
}
.container .main_section_6 .submit_form .form_conf .form_btn{
    display: flex;
    justify-content: center;
    margin: 30px 0;
}
.container .main_section_6 .submit_form .form_conf .form_btn button{
    display: flex;
    align-items: center;
    padding: 12px 16px;
    text-align: center;
    box-sizing: border-box;
    background-color: #39A17F;
    color: #fff;
    font-family: "Mont-Heavy";
    font-size: 24px;
    border: none;
    border-radius: 10px;
    cursor: none;
}
.container .main_section_6 .submit_form .form_conf .form_btn button:hover{
    animation: jelly 0.5s;
}
.container .main_section_6 .submit_form .form_img img{
    width: 100%;
    max-width: 1000px;
}